<div class="container-fluid  p-0">
    <div class="nav-contact text-center">
      <div class="container d-flex justify-content-between align-items-center" style="width: 80%; height: 100%;">
        <div class="contact">
          <a href="mailto:info@sankarmedia.com" class="me-5"><i class="bi bi-envelope-fill"></i>
            info@sankarmedia.com</a>
          <a href="tel:8910106632"><i class="bi bi-telephone-fill"></i> +91-8910106632</a>
        </div>
        <div class="social" id="nav-contact-social-icon">
          <a href="https://wa.me/message/SXUJEVQDVTPQB1"><i class='me-3 bx bxl-whatsapp'></i></a>
          <a href="https://www.facebook.com/sankarmedia"><i class='me-3 bx bxl-facebook-circle'></i></a>
          <a href="https://www.instagram.com/sankarmedia/"><i class='me-3 bx bxl-instagram'></i></a>
          <!-- <a href="#"><i class='me-3 bx bxl-linkedin-square'></i></a> -->
          <a href="https://www.youtube.com/channel/UC5hXbY_YlX3G6zVh_vkb01Q"><i class='bx bxl-youtube'></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">

        <nav class="navbar navbar-expand-lg text-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="assets/img/logo/logo.svg" alt="Sankar Media" class="img-fluid logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                <!-- <i class="fa-solid fa-bars"></i> -->
                <i class="bi bi-list"></i>
              </span>

            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/services">Services</a>
                </li>

                <!-- dropdown-toggle -->
                <li class="nav-item dropdown">
                  <a class="nav-link " href="#" id="navbarDropdow">
                    Courses
                    <i class='bx bxs-down-arrow'></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/onlinecourse">Online Course</a></li>
                    <li><a class="dropdown-item" href="/offlinecourse">Ofline Course</a></li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>


              </ul>

            </div>
          </div>
        </nav>

      </div>
    </div>
  </div>