<div class="container-fluid">
        <div class="row ">
            <div class="col-md-10 col-12 mx-auto my-5">
                <h2 class="heading text-center mb-3" data-aos="fade-up">Get a free business audit</h2>
                <p class="para text-light text-center">Lorem ipsum do enim voluptatem quibusdam, temporibus
                    distinctio?<br>
                    Temporibus aperiam natus repudiandae perferendis facere.</p>

                <form action="#" method="post">
                    <div class="row newsletter">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="email" class="form-control" id="exampleFormControlInput2"
                                    placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="tel" class="form-control" id="exampleFormControlInput3"
                                    placeholder="Contact">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="exampleFormControlInput4"
                                    placeholder="Company Name">
                            </div>
                        </div>
                    </div>

                    <div class="container d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary my-3 projectctaBtn">subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>