<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet">
  <!-- fonts  and icons-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <!-- aos -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css">
  <title>Contact Us | Sankar Media</title>
</head>

<body>

  <!-- navbar  -->
  {{>Navbar}}
  <!-- main header  -->
  <section class="container-fluid main_header mt-3">

    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row contactHead">
          <!-- main header left  -->
          <div class="col-md-6 main_header_right contact_hero_img">
            <!-- carousel  -->
            <img src="assets/img/contactus.webp" alt="">
          </div>

          <!-- main header right  -->
          <div class="col-md-6 main_contact_header ">

            <p class="contact_heading">For any Enquiry Feel free to</p>
            <h1 class="contact_sub_heading">Contact Us</h1>
          
            <!-- <div class="head_modal"> -->
            <div class="enquiry_form ">
              <form action="#" method="post">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                  <input type="tel" class="form-control" placeholder="Mobile Number">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Company Name">
                </div>
                <div class="mb-3">
                  <!-- <input type="text" class="form-control" placeholder="Company Name"> -->
                  <textarea name="msg" class="form-control" cols="30" rows="10"
                    placeholder="Enter Your Message"></textarea>
                </div>

                <button class="btn btn-primary contactBtn">Send <i class='ms-2 bx bxs-send'></i></button>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- why choose us  -->
    <div class="container my-5">
      <div class="row">
        <div class="col-md-9" data-aos="fade-right">
          <h2 class="heading heading-left mb-3">Contact Us</h2>
          <p class="text-light para para-left">SankarMedia happens to be one of the pioneering, creative, & most importantly client-friendly digital marketing service providers in the market. We work towards the satisfaction of our clients and deliver the highest quality standards.</p>
          
          <p class="contact_details"><span class="ContactTitle">Contact No :</span> <a href="+918910106632" class="contactData">+91 8910106632</a></p>
          <p class="contact_details"><span class="ContactTitle">Email :</span> <a href="#" class="contactData">info@sankarmedia.com</a></p>
        </div>
      </div>
    </div>

    <div class="container my-3">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3564.1864567055095!2d88.44044165002992!3d26.70648967528559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e441483751025d%3A0xbcd85ef3fba1dc8c!2sSankar%20Media%20%7C%20Digital%20Marketing%20%7C%20Social%20Media%20Marketing%20%7C%20Website%20Designing%20%7C%20Content%20Creation%20%7C%20Computer%20Courses%20%7C%20Coaching%20in%20Siliguri!5e0!3m2!1sen!2sin!4v1646408058611!5m2!1sen!2sin"
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </section>

 <!-- newsletter -->
 {{>Newsletter}}
  <!-- footer band  -->
  {{>FooterBand}}
  <!-- footer  -->
  {{>Footer}}

  <script src="assets/js/plugins/bootstrap.bundle.min.js"></script>
  <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="assets/js/main.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>