<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/plugins/bootstrap.min.css" rel="stylesheet">
    <!-- fonts and icons -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- aos  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <title>Home | Sankar Media</title>
</head>
<style>
    .typed-cursor {
        display: none;
    }
</style>

<body>

    <!-- navbar  -->
    {{>Navbar}}



    <!-- main header  -->
    <section class="container-fluid main_header mt-3">
        <!-- main hero section  -->
        <div class="row ">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row main_hero">
                    <!-- main hero left  -->
                    <div class="col-md-6 col-6 hero_left">
                        <p class="up_heading">Creative solutions to digital challenges</p>
                        <h1 class="main_heading">Innnovate Solution for </h1>
                        <p class="main_heading autoType">Digital Marketing</p>
                        <p class="main_para">Let's Generate some Leads !</p>

                        <a href="/contact" class="btn main_btn me-3">Enquiry Now</a>

                    </div>

                    <!-- main header right  -->
                    <div class="col-md-6 col-6 hero_right">
                        <img src="assets/img/header/main.webp" alt="" class="main_hero_img">

                        <img src="assets/img/header/speaker.webp" alt="" class="hero_icon">
                        <img src="assets/img/header/linked.webp" alt="" class="hero_icon icon_linkedin">
                        <img src="assets/img/header/youtube.webp" alt="" class="hero_icon icon_youtube">
                        <img src="assets/img/header/insta.webp" alt="" class="hero_icon icon_insta">
                        <img src="assets/img/header/map.webp" alt="" class="hero_icon icon_map">
                        <img src="assets/img/header/messenger.webp" alt="" class="hero_icon icon_messenger">
                    </div>

                </div>
            </div>

        </div>

        <!-- cta  -->
        <!-- <div class="container d-flex justify-content-center align-items-center mt-3">
      <button class="btn btn-primary my-3 projectCtaBtn" >Get A Free Business Audit</button>
    </div> -->

        <!-- video section  -->
        <!-- <div class="videoContainer mb-5" data-aos="fade-up">
      <div class="d-flex align-items-center justify-content-center mt-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pna-mjRb2ts" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div> -->


    </section>

    <!-- About section  -->
    <section class="container-fluid ">

        <div class="container about_Container">
            <div class="row">
                <div class="col-md-6 col-12 Aboutimg" data-aos="fade-right">
                    <img src="assets/img/home/whoweare.webp" alt="">
                </div>
                <div class="col-md-6 col-12 aboutDetails" data-aos="fade-left">
                    <h2 class="heading heading-right main_color">Who We are ?</h2>
                    <p class="text-light para">Best Digital Marketing Agency in Siliguri, India. We are the leading
                        Online Marketing Company that aims to improve your Relationship and Reputation with your
                        potential clients. Make your business grow by using Online Business Development Strategies,
                        elevating your Goodwill in the market, and delivering you incredible earnings.</p>

                    <div class="container d-flex justify-content-end align-items-center my-3">
                        <a href="/about" class="btn btn-primary my-3 projectCtaBtn">Know More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- cta  -->
        <!-- <div class="container d-flex justify-content-center align-items-center my-3">
      <button class="btn btn-primary my-3" id="ctaBtn">Contact Us</button>
    </div> -->

        <!-- why choose us  -->
        <div class="container mt-5">
            <div class="row whyus_info">
                <div class="col-md-6" data-aos="fade-right">
                    <h2 class="heading heading-left mb-3">Why Us?</h2>
                    <p class="text-light para para-left mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ratione quasi
                        provident quis repudiandae aperiam quae earum quod, eligendi quos, voluptas mollitia possimus
                        magnam
                        ducimus
                        suscipit molestiae minus, asperiores similique! Vitae?</p>
                </div>

                <div class="col-md-6 Aboutimg" data-aos="fade-left">
                    <img src="assets/img/home2.webp" alt="why choose us">
                </div>

            </div>
        </div>



        <!-- expertise  -->




    </section>

    <!-- service / experties  -->
    <div class="container-fluid expertiesBx mx-0 my-5">
        <h2 class="heading" data-aos="fade-up">Our Experties</h2>
        <p class="para expertiesPara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia reprehenderit
            expedita soluta distinctio cum nesciunt maiores, voluptates nemo pariatur rerum earum sequi recusandae
            veritatis
            quod id molestias, repellendus fugiat ex!</p>

        <div class="container p-3">
            <div class="row p-2">
                <div class="col-md-4 col-12 expertiesCard" data-aos="fade-up">
                    <div class="expertiesCardIcon">
                        <img src="assets/img/icons/content-management.png" alt="" class="img-fluid">
                        <!-- <i class="bi bi-pencil-square"></i> -->
                    </div>
                    <p class="expertiesTitle">content Creation</p>
                    <p class="para para-left text-light"> assumenda perspiciatis dolorum dolor minus? </p>

                    <div class="d-flex align-items-center">
                        <a href="/services" class="expertiesCardBtn">Know More</a>
                    </div>
                </div>

                <div class="col-md-4 col-12 expertiesCard" data-aos="fade-up">
                    <div class="expertiesCardIcon">
                        <img src="assets/img/icons/google-ads.svg" alt="" class="img-fluid">
                    </div>
                    <p class="expertiesTitle">Google Ads</p>
                    <p class="para para-left text-light"> assumenda perspiciatis dolorum dolor minus? </p>

                    <div class="d-flex align-items-center">
                        <a href="/services" class="expertiesCardBtn">Know More</a>
                    </div>
                </div>
                <div class="col-md-4 col-12 expertiesCard" data-aos="fade-up">
                    <div class="expertiesCardIcon">
                        <img src="assets/img/icons/graphic-designer.png" alt="" class="img-fluid">

                    </div>
                    <p class="expertiesTitle">graphics design</p>
                    <p class="para para-left text-light"> assumenda perspiciatis dolorum dolor minus? </p>

                    <div class="d-flex align-items-center">
                        <a href="/services" class="expertiesCardBtn">Know More</a>
                    </div>
                </div>

            </div>

            <div class="row p-2">
                <div class="col-md-4 col-12 expertiesCard" data-aos="fade-up">
                    <div class="expertiesCardIcon">
                        <img src="assets/img/icons/social-media.png" alt="" class="img-fluid">
                    </div>
                    <p class="expertiesTitle">social media marketing</p>
                    <p class="para para-left text-light"> assumenda perspiciatis dolorum dolor minus? </p>

                    <div class="d-flex align-items-center">
                        <a href="/services" class="expertiesCardBtn">Know More</a>
                    </div>
                </div>

                <div class="col-md-4 col-12 expertiesCard" data-aos="fade-up">
                    <div class="expertiesCardIcon">
                        <img src="assets/img/icons/analytics.png" alt="" class="img-fluid">
                    </div>
                    <p class="expertiesTitle">strategy building</p>
                    <p class="para para-left text-light"> assumenda perspiciatis dolorum dolor minus? </p>

                    <div class="d-flex align-items-center">
                        <a href="/services" class="expertiesCardBtn">Know More</a>
                    </div>
                </div>
                <div class="col-md-4 col-12 expertiesCard" data-aos="fade-up">
                    <div class="expertiesCardIcon">
                        <img src="assets/img/icons/editing.png" alt="" class="img-fluid">
                    </div>
                    <p class="expertiesTitle">video editing</p>
                    <p class="para para-left text-light"> assumenda perspiciatis dolorum dolor minus? </p>

                    <div class="d-flex align-items-center">
                        <a href="/services" class="expertiesCardBtn">Know More</a>
                    </div>
                </div>
            </div>

        </div>



    </div>


    <!-- About section  -->
    <section class="container-fluid ">

        <!-- client reviews  -->

        <div class="container my-5">
            <h2 class="heading text-center mb-3" data-aos="fade-up">Client Reviews</h2>
            <div class="reviewContainer">

                <!-- review 1 -->
                <div class="reviewIndividual">
                    <div class="row mt-2 client_review_details">
                        <div class="col-6 review p-2">
                            <img src="assets/img/home/2.png" alt="">
                        </div>
                        <div class="col-6 p-2 about_client">
                            <p class="comapny_name">Company 2</p>
                            <p class="company_owner">Compnay Owner</p>
                            <p class="designation">Designation</p>
                            <div class="rating d-flex my-3">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>

                            <div class="review_msg">
                                <i class='bx bxs-quote-alt-left quote'></i>
                                <p>consectetur adipisicing elit. Doloribus hic accusamus quos dolore eos magni. Quis
                                    minima enim
                                    recusandae
                                    ratione delectus facilis, quod aliquam praesentium explicabo magnam vero omnis ut
                                </p> <i class='bx bxs-quote-alt-right quote'></i>
                            </div>



                        </div>

                    </div>
                </div>
                <!-- review 2 -->
                <div class="reviewIndividual">
                    <div class="row mt-2 client_review_details">
                        <div class="col-6 review p-2 ">
                            <img src="assets/img/home/2.png" alt="">
                        </div>
                        <div class="col-6 p-5 about_client">
                            <p class="comapny_name">Company 2</p>
                            <p class="company_owner">Compnay Owner</p>
                            <p class="designation">Designation</p>
                            <div class="rating d-flex my-3">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>

                            <div class="review_msg">
                                <i class='bx bxs-quote-alt-left quote'></i>
                                <p>consectetur adipisicing elit. Doloribus hic accusamus quos dolore eos magni. Quis
                                    minima enim
                                    recusandae
                                    ratione delectus facilis, quod aliquam praesentium explicabo magnam vero omnis ut
                                </p> <i class='bx bxs-quote-alt-right quote'></i>
                            </div>



                        </div>

                    </div>
                </div>


            </div>


        </div>

        <!-- counter  -->
        <div class="container mt-3">
            <div class="row">

                <div class="col-md-3 col-6 p-3 Count_Box">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="countNum">500</p>
                        <div class="ms-3">
                            <i class='bx bxs-certification countIcon'></i>
                            <p class="countTitle text-light">Experience</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-6 p-3 Count_Box">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="countNum">700</p>
                        <div class="ms-3">
                            <i class='bx bxs-bookmarks countIcon'></i>
                            <p class="countTitle text-light">Total Project</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 p-3 Count_Box">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="countNum">400</p>
                        <div class="ms-3">
                            <i class='bx bxs-smile countIcon'></i>
                            <p class="countTitle text-light">Happy Clients</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 p-3 Count_Box">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="countNum">200</p>
                        <div class="ms-3">
                            <i class='bx bxs-trophy countIcon'></i>
                            <p class="countTitle text-light">Achivements</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </section>


    <!-- newsletter  -->
    {{>Newsletter}}
    <!-- footer band  -->
    {{>FooterBand}}

    <!-- footer  -->
    {{>Footer}}

    <script src="assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/slider.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="assets/js/main.js"></script>
    <script>
        var typed = new Typed('.autoType', {
            strings: ['digital marketing', 'GOOGLE ADS', 'seo', 'graphic design', 'smm', 'CONTENT MARKETING', 'web development'],
            typeSpeed: 100,
            backspeed: 3000,
            backDelay: 2000,
            loop: true
        });
    </script>

</body>

</html>