<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet">
    <!-- fonts and icons -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- aos  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>Our Services | Sankar Media</title>
</head>
<body>
    <!-- navbar  -->
    {{>Navbar}}
    <!-- main header  -->
    <section class="container-fluid main_header mt-3">
        <div class="row ">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row main_hero">
                    <!-- main hero left  -->
                    <div class="col-md-6 col-6 hero_left">
                        <p class="up_heading">Creative solutions to digital challenges</p>
                        <h1 class="main_heading">Innnovate Solution for </h1>
                        <p class="main_heading autoType">Digital Marketing</p>
                        <p class="main_para">Let's Generate some Leads !</p>

                        <a href="contactus.html" class="btn main_btn me-3">Enquiry Now</a>

                    </div>

                    <!-- main header right  -->
                    <div class="col-md-6 col-6 hero_right">
                        <img src="assets/img/services/service.webp" alt="" class="main_hero_img">

                        <img src="assets/img/services/g1.webp" alt="" class="hero_icon icon_g1">
                        <img src="assets/img/services/g2.webp" alt="" class="hero_icon icon_g2">
                        <img src="assets/img/services/g3.webp" alt="" class="hero_icon icon_g3">
                        <img src="assets/img/services/g4.webp" alt="" class="hero_icon icon_g4">
                        <img src="assets/img/services/r1.webp" alt="" class="hero_icon icon_bar">
                        <img src="assets/img/services/r2.webp" alt="" class="hero_icon icon_r">
                        
                         </div>

                </div>
            </div>

        </div>


    </section>

    <!-- service section  -->
    <!-- item 1 -->
    <div class="container-fluid my-5 p-0 ">
        <div class="row p-0 serviceItem">
            <div class="col-md-6 col-6 p-0 serviceThumbnail">
                <img src="assets/img/services/service/digital-marketing.svg" alt="Digital Marketing" class="img-fluid">
            </div>

            <div class="col-md-6 col-6 serviceDetails pe-5">
                <div class="d-flec justify-contents-start align-items-center px-5" data-aos="fade-left">
                    <h2 class="heading heading-right">Google Ads</h2>
                    <p class="text-light  para" style="font-size: 1.7rem;">The competition for your customers is often staggering.
                        To achieve success online, you would like to be present on all channels.
                        We deliver perfectly coordinated campaigns on all Google platforms in reaching more customers, more sales, and more earnings.                        
                    </p>
                    <div class="container d-flex justify-content-end align-items-center my-3">
                        <button class="btn btn-primary my-3 projectCtaBtn">enquiry now</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- item 2 -->
    <div class="container-fluid my-5 p-0">
        <div class="row p-0 serviceItem serviceItem-reverse">
            <div class="col-md-6 col-6 serviceDetails pe-5">
                <div class="d-flec justify-contents-start align-items-center px-5" data-aos="fade-right">
                    <h2 class="heading heading-left">Social Media Marketing</h2>
                    <p class="text-light para-left para" style="font-size: 1.7rem;">
                        Looking for an effective way to grow your business, cater to new customers and website traffic? At Sankar Media, we help you build a strong social media presence.
                    </p>
                    <div class="container d-flex justify-content-start align-items-center my-3 mx-0">
                        <button class="btn btn-primary my-3 projectCtaBtn">enquiry now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-6 p-0 serviceThumbnail">
                <img src="assets/img/services/service/2 1.png" alt="Digital Marketing"
                    class="img-fluid ms-auto" style="width: 100%;">
            </div>

        </div>
    </div>

    <!-- item 3 -->
    <div class="container-fluid my-5 p-0">
        <div class="row p-0 serviceItem">
            <div class="col-md-6 col-6 p-0 serviceThumbnail">
                <img src="assets/img/services/service/3 1.png" alt="Digital Marketing" class="img-fluid">
            </div>

            <div class="col-md-6 col-6 serviceDetails pe-5">
                <div class="d-flec justify-contents-start align-items-center px-5" data-aos="fade-left">
                    <h2 class="heading heading-right">Web Development</h2>
                    <p class="text-light para" style="font-size: 1.7rem;">Within the digitized settings in business, your website serves as more than just an e-interface. It comes as one of the first branding and marketing tools, indefinitely for start-ups.</p>
                    <div class="container d-flex justify-content-end align-items-center my-3">
                        <button class="btn btn-primary my-3 projectCtaBtn">enquiry now</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- item 4 -->
    <div class="container-fluid my-5 p-0">
        <div class="row p-0 serviceItem serviceItem-reverse">
            <div class="col-md-6 col-6 serviceDetails pe-5">
                <div class="d-flec justify-contents-start align-items-center px-5" data-aos="fade-right">
                    <h2 class="heading heading-left">Search Engine Optimization</h2>
                    <p class="text-light para para-left" style="font-size: 1.7rem;">
                        SEO helps in improving your site to increase its visibility when people search for products or services related to your business in Google, Yahoo, and other search engines.
                    </p>
                    <div class="container d-flex justify-content-start align-items-center my-3 mx-0">
                        <button class="btn btn-primary my-3 projectCtaBtn">enquiry now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-6 p-0 serviceThumbnail">
                <img src="assets/img/services/service/4 1.png" alt="Digital Marketing"
                    class="img-fluid ms-auto" style="width: 100%;">
            </div>

        </div>
    </div>

    <!-- item 5 -->
    <div class="container-fluid my-5 p-0">
        <div class="row p-0 serviceItem">
            <div class="col-md-6 col-6 p-0 serviceThumbnail">
                <img src="assets/img/services/service/5 1.png" alt="Digital Marketing" class="img-fluid">
            </div>

            <div class="col-md-6 col-6 serviceDetails pe-5">
                <div class="d-flec justify-contents-start align-items-center px-5" data-aos="fade-left">
                    <h2 class="heading heading-right">content marketing</h2>
                    <p class="text-light para" style="font-size: 1.7rem;">
                        Publishing new content regularly intrigues internet crawlers to view your site more frequently. Having your site viewed regularly helps your content rank in search results.
                    </p>
                    <div class="container d-flex justify-content-end align-items-center my-3">
                        <button class="btn btn-primary my-3 projectCtaBtn" >enquiry now</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- item 6 -->
    <div class="container-fluid my-5 p-0">
        <div class="row p-0 serviceItem serviceItem-reverse">
            <div class="col-md-6 col-6 serviceDetails pe-5">
                <div class="d-flec justify-contents-start align-items-center px-5" data-aos="fade-right">
                    <h2 class="heading heading-left">Pay per click</h2>
                    <p class="text-light para para-left" style="font-size: 1.7rem;">Our pay-per-click management services will increase relevant traffic to your website. Paid search engine advertising can give your business a boom and push your brand to the top of google.
                    </p>
                    <div class="container d-flex justify-content-start align-items-center my-3 mx-0">
                        <button class="btn btn-primary my-3 projectCtaBtn">enquiry now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-6 p-0 serviceThumbnail">
                <img src="assets/img/services/service/6 1.png" alt="Digital Marketing"
                    class="img-fluid ms-auto" style="width: 100%;">
            </div>

        </div>
    </div>


    <!-- item 7 -->
    <div class="container-fluid my-5 p-0">
        <div class="row p-0 serviceItem ">
            <div class="col-md-6 col-6 p-0 serviceThumbnail">
                <img src="assets/img/services/service/7 1.png" alt="Digital Marketing" class="img-fluid">
            </div>

            <div class="col-md-6 col-6 serviceDetails pe-5">
                <div class="d-flec justify-contents-start align-items-center px-5" data-aos="fade-left">
                    <h2 class="heading heading-right">animation</h2>
                    <p class="text-light para" style="font-size: 1.7rem;">
                        Sankar Media provides Video Animation Services to assist businesses in differentiating their content and advancing their marketing and social media presence.
                    </p>
                    <div class="container d-flex justify-content-end align-items-center my-3">
                        <button class="btn btn-primary my-3 projectCtaBtn">enquiry now</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- item 8 -->
    <div class="container-fluid my-5 p-0">
        <div class="row p-0 serviceItem serviceItem-reverse">
            <div class="col-md-6 col-6 serviceDetails pe-5">
                <div class="d-flec justify-contents-start align-items-center px-5" data-aos="fade-right">
                    <h2 class="heading heading-left">Graphic Desiging</h2>
                    <p class="text-light para para-left" style="font-size: 1.7rem;">At Sankar Media, we offer a multitude of graphic design services and more. Businesses and websites rely far too heavily on what you portray.</p>
                    <div class="container d-flex justify-content-start align-items-center my-3 mx-0">
                        <button class="btn btn-primary my-3 projectCtaBtn">enquiry now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-6 p-0 serviceThumbnail">
                <img src="assets/img/services/service/8 1.png" alt="Digital Marketing"
                    class="img-fluid ms-auto" style="width: 100%;">
            </div>

        </div>
    </div>
    
    <!-- item 9 -->
    <div class="container-fluid my-5 p-0">
        <div class="row p-0 serviceItem ">
            <div class="col-md-6 col-6 p-0 serviceThumbnail">
                <img src="assets/img/services/service/9 1.png" alt="Digital Marketing" class="img-fluid">
            </div>

            <div class="col-md-6 col-6 serviceDetails pe-5">
                <div class="d-flec justify-contents-start align-items-center px-5" data-aos="fade-left">
                    <h2 class="heading heading-right">Video Editing</h2>
                    <p class="text-light para" style="font-size: 1.7rem;">
                        Sankar Media is a partner of choice both for big and small companies, as well as business organizations and individuals. At a competitive price, we offer video & audio editing, post-production, subtitling, animation, storyboarding, and much more.
                    </p>
                    <div class="container d-flex justify-content-end align-items-center my-3">
                        <button class="btn btn-primary my-3 projectCtaBtn">enquiry now</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

  <!-- newsletter  -->
    {{>Newsletter}}
    <!-- footer band  -->
    {{>FooterBand}}
    <!-- footer  -->
    {{>Footer}}

    <script src="assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>